@use "sass:list";

/**
 * Fonts
 */
.ff-sans {
  font-family: var(--ff-sans);
}
.ff-mono {
  font-family: var(--ff-mono);
}

.fw-normal {
  font-weight: var(--fw-normal);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

/**
 * Font sizes
 */
.fs-xxs {
  font-size: var(--fs-xxs);
}
.fs-xs {
  font-size: var(--fs-xs);
}
.fs-sm {
  font-size: var(--fs-sm);
}
.fs-md {
  font-size: var(--fs-md);
}
.fs-lg {
  font-size: var(--fs-lg);
}
.fs-xl {
  font-size: var(--fs-xl);
}
.fs-xxl {
  font-size: var(--fs-xxl);
}